/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Psalter+Pahlavi&display=swap');

html, body {
    font-family: 'Noto Sans Psalter Pahlavi', sans-serif;
    background-color: #141618;
}

.card {
    padding: 2rem;
    border: 1px solid #262833;
    border-radius: 5px;
    box-shadow: 0 0 10px #00000080;
    background-color: #1e1f25;

    h2 {
        margin: 0;
    }

    p {
        margin: 0;
    }

}

textarea {
    background-color: var(--surface-50);
    border: 1px solid var(--surface-100);
}


input {
    width: 100%;
    background-color: var(--surface-50);
    border: 1px solid var(--surface-100);
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1rem;
}

button {
    background-color: #f69c00c3;
    font-weight: bold;
    color: #141618;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        opacity: 0.8;
    }
}

.privilege-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
    border: 1px solid #262833;
    border-radius: 5px;
    background-color: #1e1f25;
    margin-bottom: 1rem;

    h3 {
        margin: 0;
    }
}

i.wallpaper {
    font-size: 1000%;
    left: 0;
    top: 0;
    opacity: 0.05;
    transition: opacity 0.2s ease-in-out;
}

.ticket i.wallpaper {
    font-size: 800%;
    left: 0;
    top: 0;
    opacity: 0.05;
    transition: opacity 0.2s ease-in-out;
}
.privilege-card {
    i.toggle:hover {
        color: #9d6607;
        cursor: pointer;
    }
    p {
        transition: opacity 0.2s ease-in-out;
        opacity: 1;
    }
    img {
        transition: opacity 0.2s ease-in-out;
        opacity: 0;
    }
    
}
.privilege-card.active {
    p {
        opacity: 0;
    }
    img {
        opacity: 1;
    }
    
    i.wallpaper {
        opacity: 0;
    }

}